.root {
  list-style: none;
  text-align: center;
  width: 250px;
}

.root > h4:first-of-type {
  text-transform: uppercase;
}

.root > p:first-of-type {
  font-style: italic;
  font-size: 18px;
  margin-top: 16px;
}
